*.for linguist-detectable=true
*.f linguist-detectable=true
*.f90 linguist-detectable=true
MolecularWavepackets/RAP.nb linguist-detectable=true
MolecularWavepackets/STIRAP.nb linguist-detectable=false
